// SASS VARIABLES
$primary-color: #261f27;
$secondary-color: #baa797;

// TEMPLATE VARIABLES
{{ $image := resources.Get "images/bg.jpg" }}
{{ $masthead_image := $image.Resize "1900x webp q90" }}

{{ $image := resources.Get "images/PC160860.jpg" }}
{{ $contact_page_image := $image.Resize "1900x webp q90" }}

html {
  scroll-padding-top: calc(4.5rem - 1px);

  --primary-color: #261f27;
  --secondary-color: #baa797;
}

body {
  letter-spacing: 0.0625em;
}

.primary-color {
  --bs-bg-opacity: 1;
  background-color: var(--primary-color) !important;
}

.secondary-color {
  --bs-bg-opacity: 1;
  background-color: var(--secondary-color) !important;
}

.secondary-color-text {
  --bs-bg-opacity: 1;
  color: var(--secondary-color) !important;
}

#mainNav {
  min-height: 3.5rem;
  background-color: var(--primary-color);
}

.content {
  margin-top: 10rem;
  margin-bottom: 10rem;
}

#mainNav2 {
  min-height: 3.5rem;
  background-color: var(--primary-color);

  .navbar-brand {
    color: var(--secondary-color);
    font-weight: 700;
    padding: 0.9rem 0;
  }
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: var(--primary-color);
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: var(--primary-color);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: var(--primary-color);
  }
  #mainNav.navbar-shrink .nav-link {
    color: #fff;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--secondary-color);
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: var(--secondary-color);
    outline: none;
    border-bottom: 0.25rem solid var(--secondary-color);
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: var(--secondary-color);
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;


  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, var(--primary-color) 100%), url("{{$masthead_image.RelPermalink}}");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1, .masthead .h1 {
    font-size: 1.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1, .masthead .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2, .masthead .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.about-section {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-color) 75%, var(--primary-color) 100%);
}
.about-section p {
  margin-bottom: 5rem;
}

.projects-section {
  padding: 10rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}
@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    border-left: 0.5rem solid var(--secondary-color);
  }
}
.project-text {
  padding: 2rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .project-text {
  }
.project-text hr {
    border-color: var(--secondary-color);
    border-width: 0.25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 5rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.contact-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, var(--primary-color) 85%), url("{{$contact_page_image.RelPermalink}}");
  background-repeat: no-repeat;

  background-size: cover;
  padding-top: 5rem;
}
.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid var(--secondary-color);
}
.contact-section .card h4, .contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}
.contact-section .card hr {
  border-color: var(--secondary-color);
  border-width: 0.25rem;
  width: 3rem;
}
.contact-section .social {
  margin-top: 5rem;
}
.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}
.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

.about-btn {
  margin-top: -50px;
  margin-bottom: 10px;
}

.x-read-more-btn {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--secondary-color) !important;
}

.pswp-gallery {
    display: grid;
    grid-template-columns: repeat( auto-fill, minmax( 200px, 1fr ) ); /* [2] Make columns adjust according to the available viewport */
    grid-auto-rows: 250px;
    list-style: none;
    grid-gap: 15px;

    a figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    }

    a figure:hover {
        opacity: 0.8;
        transition: .5s ease;
    }

    @media screen and (min-width: 850px) {
        a:nth-of-type(1) {
            grid-column-start: 1;
            grid-column-end: 3;
        }
        a:nth-of-type(4) {
            grid-column-start: 3;
            grid-row-start: 2;
            grid-row-end: 4;
        }
    }

    @media screen and (max-width: 850px) {
        grid-gap: 24px;
        grid-template-columns: repeat(1, 3fr);
        grid-auto-rows: 40vw;
    }
}
