<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}

    <title>{{ $title }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    {{ with site.GetPage "" }}
    <meta name="description" content="{{ .Params.Description }}"/>
    <meta name="og:description" content="{{ .Params.Description }}"/>
    {{ end }}
    <meta name="og:title" content="{{ $title }}"/>
    <meta property="og:type" content="website"/>

        <meta name="keywords" content="Sofie, Sofie D'heer, Sofie dheer, dheer, architect, architectuur, portfolio, D'heer architect"/>

    {{ with resources.Get "favicon.png" }}
    {{ with .Resize "15x webp" }}
    <link rel="icon" href="{{ .RelPermalink }}" />
    {{ end }}
    {{ end }}
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/photoswipe/5.3.4/photoswipe.min.css" integrity="sha512-TdCx5ObKpq3+lwUdiXFgFLhqwTB98YsdaQWSJrwkOz084qaeO86+NMYfU/pnpPo1pDVah0a7yvFmbcvI8ZiGAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- minified Bootstrap -->
    {{ $style := resources.Get "css/bootstrap.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">

    <!-- minified main scss -->
 
    {{ $style := resources.Get "css/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">



    <script defer data-domain="dheer.me" src="https://plausible.io/js/script.js"></script>
    <script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": "Portfolio website",
    "name": "{{ .Site.Title }}",
    "author": {
        "@type": "Person",
        "name": "sofie@dheer.me"
    },
    "description": "{{ .Site.Params.Description }}"
    }
    </script>

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous" async></script>
    <!-- netlify identity -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" async></script>

</head>
